<p id="notice"><%= notice %></p>

<p>
  <strong>List:</strong>
  <%= @task.list %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Seton:</strong>
  <%= @task.setOn %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadLine %>
</p>

<p>
  <strong>Fineshedon:</strong>
  <%= @task.fineshedOn %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
