<!DOCTYPE html>
<html>
  <head>

    <%# THIS IS A FULLY CUSTOMISED APPLICATION-TEMPLATE %>
    <title><%= yield(:page_title) %> | Listis </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	<%= render 'layouts/navbar' %> <%# As it is outside the container it will use the fullwidth %>
  	<div class="container <%= controller_name %> <%= action_name %> "> <%#  controller_name &/or action_name will give the names of each one of them, this will be used for some refernces later %>
  		<%= yield %>
  	</div>   


  </body>
</html>
